altgraph==0.17
future==0.18.2; sys_platform == "win32"
macholib==1.14; sys_platform == "darwin"
numpy==1.19.4
pefile==2019.4.18; sys_platform == "win32"
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyqt5==5.15.2
pyqt5-sip==12.8.1
pyqtgraph==0.11.0
pywin32-ctypes==0.2.0; sys_platform == "win32"
